################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/warlordsredux.altis/v16/Browse.VC.db
